body{
margin:0;
padding-top:800px;
text-align:center;
}
#img1{
margin-top:200px;
margin-bottom:50px;
width:400px;
}
#Welcome{
position:absolute;
height:800px;
color:aqua;
left:0;
top:0;
bottom:0;
right:0;
background:linear-gradient(#32a8a2 0%, #2341d9 100%);
}
#Bio{
padding:50px;
font-size:42px;
}
.line{
height:6px;
background-color:black;
width:70px;
margin:auto;
}
.menu{
position:fixed;
top:0px;
width:100%;
margin-top:0px;
z-index:10;
cursor:pointer;
background-color:yellow;
}
.links{
display:inline;
color:red;
padding-left:33px;
padding-right:25px;
font-size:20px;
}
.links:hover{
background-color:gold;
text-decoration:underline;
font-size:25px;
}
.Contact1 h3{
display:inline;
}
.Contact1 a{
color:white;
text-shadow:none;
}
#Contact{
background-color:red;
}